<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CountDownBefore</title>
    <link rel="stylesheet" type="text/css" href="countdown.css">
</head>

<body>
    <!-- Блок для иконок для таймера -->
    <div class="counter">
        <div style="display: flex; padding: 140px;">
            <li><img class="counter-image" src="icons/digit0.png" alt="Счетчик Фон"></li>
            <li><img class="counter-image" src="icosn/digit0.png" alt="Счетчик Фон"></li>
        </div>
        <div style="display: flex; padding: 140px;">
            <li><img class="counter-image" src="icons/digit0.png" alt="Счетчик Фон"></li>
            <li><img class="counter-image" src="icons/digit0.png" alt="Счетчик Фон"></li>
        </div>
        <div style="display: flex; padding: 140px;">
            <li><img class="counter-image" src="icons/digit0.png" alt="Счетчик Фон"></li>
            <li><img class="counter-image" src="icons/digit0.png" alt="Счетчик Фон"></li>
        </div>
    </div>  <!-- Цифра часов (1) -->

    <div class="note" style="padding-left: 1300px;">
        <li><h1 style="font-size: 800%;">Дней</h1></li>
        <li><h1 style="font-size: 800%;">Часов</h1></li>
        <li><h1 style="font-size: 800%;">Минут</h1></li>
    </div>
</body>

</html>
