<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muzguru</title>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <p>Введите данные ниже, чтобы создать аккаунт0</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="psw" required>

        <label for="psw-repeat"><b>Password</b></label>
        <input type="password" placeholder="Repeat password" name="psw-repeat" required>

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="resgisterbtn"></button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</body>
</html>
